html, body, #root {
  margin: 0;
  padding: 0 auto;
}

:root {
  /* --primary-color: #302AE6; */
  /* --secondary-color: #536390; */
  --font-color: #e1e1ff;
  --bg-color: #222;
  --border-color: rgba(255,255,255,.4);
  --hovered-border-color: #e1e1ff;
  --text-font-size: 14px;

  --title-font-size: 18px;
  --title-font-weight: 600;

  --pagebar-height: 35px;

  /* PADDINGS */
  --responsive-padding: 0.2rem;
  --button-padding: 0.4rem;

  /* MARGINS */
  --responsive-margin: 2rem;

  /* BORDERS */
  --image-border-color: red;
  --pagebar-border-color: #fff;
}

[data-theme="light"] {
  --font-color: #424242;
  --bg-color: #fff;
  --border-color: rgba(117, 117, 117, 0.5);
  --hovered-border-color: #424242;
  --text-font-size: 14px;

  --title-font-size: 18px;
  --title-font-weight: 600;

  /* PADDINGS */
  --responsive-padding: 0.2rem;
  --button-padding: 0.4rem;

  /* MARGINS */
  --responsive-margin: 2rem;

  /* BORDERS */
  --image-border-color: #008dff;
  --pagebar-border-color: rgba(0,0,0,.14);
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  overflow-x: hidden;
}

.appContainer {
  display: flex;
  flex-direction: column;
  /* padding: 0.8rem; */
  /* min-height: 100vh;
  max-width: 100vw;
  max-width: 100%; */
}
